*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header {
    background: rgb(0,18,45);
    background: linear-gradient(90deg, rgba(0,18,45,1) 0%, rgba(42,87,130,1) 100%);
    min-height: 6rem;
}

.nav-link {
    color: white;
}

.nav {
    min-height: 6rem;
}
.nav h1{
    margin: 0;
}
.card-desc{
    font-size: .8rem;
    color: #646464;
}
.alert-container > div{
    margin-block: 1rem;
}
.footer {
    margin-top: auto;
    background: rgb(0,18,45);
    background: linear-gradient(90deg, rgba(0,18,45,1) 0%, rgba(42,87,130,1) 100%);
    display: grid;
    align-items: center;
    min-height: 6rem;
    justify-content: center;
    color: white;
}
.footer p{  
    margin: 0;
}

.fade-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    z-index: 3;
}

.slide-form {
    --formWidth: 90%;
    position: fixed;
    min-width: var(--formWidth);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: right 0.5s;
}

.slide-in-animation{
    animation: slideIn 500ms ease-out;
}
@keyframes slideIn {
    0%{
        transform: translate(150%, -50%);
    }
    80%{
        transform: translate(-53%, -50%);
    }
    100%{
        transform: translate(-50%, -50%);
    }
}







